{% extends 'base.html' %}
{% block content %}
<div class="container">
    <table class="table">
        {% if not cart %}
        <tr>
            <td>Your cart is empty</td>
        </tr>

        {% else %}
        <thead>

        <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>


        {% for (key, value) in cart.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
            <td><a href="{{url_for('from_cart', item_name=key) }}">✖</a></td>
        </tr>
        {% endfor %}
        {% endif %}

    </table>
    {% if cart %}
    <p>Price: £{{ price }}</p>


    <a class="btn btn-primary" href="{{ url_for('checkout') }}">Proceed to Checkout</a>
    {% endif %}
</div>
{% endblock %}